@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import "tailwindcss";

body {
  background-color: var(--color-background);
  transition: background-color 0.3s ease, color 0.3s ease;
}
@theme {
  --font-display: "Unbounded", "sans-serif";
}
/* Светлая тема */
.light {
  --color-background: #ffffff; /* белый фон */
  --text-color: #000000; /* строго черный текст */
  --text-colorinput: #202020;

  /* Остальные цвета (карточки, бордеры, ховеры) */
  --color-card: #fafafa;
  --color-border: #cccccc;
  --color-hover: #c5c5c5;
  --color-input: #cccccc;

  /* Свитч */
  --switch-bg: #2a2a2a;
  --switch-checked-bg: #00a6ff;
}

/* Тёмная тема */
.dark {
  --color-background: #141414; /* тёмный фон */
  --text-color: #ffffff; /* строго белый текст */
  --text-colorinput: #b4b4b4;

  /* Остальные цвета (карточки, бордеры, ховеры) */
  --color-card: #292929;
  --color-border: #232323;
  --color-hover: #6b6b6b;
  --color-input: #383838;

  /* Свитч */
  --switch-bg: #3a3a3a;
  --switch-checked-bg: #0088cc;
}

/* Стили для карточек */
.bg-card {
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 10;
}

.bg-input {
  background-color: var(--color-input);
  color: var(--text-colorinput);
}

/* Общие стили */
body,
.card,
button {
  transition: background-color 0.5s ease, color 0.5s ease;
  color: var(--text-color) !important; /* принудительно задаём текст */
}

.text-dynamic {
  color: var(--text-color);
}

.texth2-dynamic {
  color: var(
    --text-color
  ); /* убрал оттенки, чтобы был строго чёрный или белый */
}

.dropDown {
  background-color: var(--color-card);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--text-color) !important;
  cursor: pointer;
}

.dropDown:hover {
  background-color: var(--color-hover);
}

/* Стили бордера */
.border-dynamic {
  border: 1px solid var(--color-border);
  transition: border-color 0.3s ease-in-out;
}

/* Свитч */
.slider {
  background-color: var(--switch-bg);
  transition: background-color 0s ease;
}

.switch input:checked + .slider {
  background-color: var(--switch-checked-bg);
}

.institute-text {
  color: var(--institute-text-color) !important;
}

.text-always-white {
  color: white !important;
}

.text-always-black {
  color: black !important;
}
