@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import "tailwindcss";
body {
  background-color: #141414;
}
@theme {
  --color-fiol: #bf8ce1;
  --font-display: "Unbounded", "sans-serif";
  --color-bgg: #222222;
  --color-card: #292929;
  --color-border: #232323;
}
