@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import "tailwindcss";

body {
  background-color: var(--color-background);
  transition: background-color 0.3s ease, color 0.3s ease;
}
@theme {
  --font-display: "Unbounded", "sans-serif";
}
/* Светлая тема */
.light-theme {
  --color-background: #ffffff; /* Светлый фон */
  --text-color: #000000; /* Чёрный текст на светлой теме */
  --color-bgg: #a8a8a8;
  --text-h2: #777777;
  --color-card: #f6f6f6; /* Светлый цвет для карточек */
  --color-border: #b6b6b6; /* Светлый цвет для бордера */
  --color-green: #28a745; /* Зеленый */
  --color-red: #dc3545; /* Красный */
  --color-yellow: #ffc107; /* Желтый */
  --color-blue: #007bff; /* Синий */
}

/* Тёмная тема */
.dark {
  --text-color: #ffffff; /* Белый текст на тёмной теме */
  --color-background: #141414;
  --text-h2: #d1d6e0;
  --color-bgg: #222222; /* Тёмный фон */
  --color-card: #292929; /* Матовый тёмный цвет */
  --color-border: #232323; /* Тёмный бордер */
  --color-green: #00c950; /* Зеленый */
  --color-red: #ee4a4a; /* Красный */
  --color-yellow: #f0b100; /* Желтый */
  --color-blue: #2b7fff; /* Синий */
}

/* Стили для плашек/карточек */
.bg-card {
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Общие стили */
body,
.card,
button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-dynamic {
  color: var(--text-color);
}

.texth2-dynamic {
  color: var(--text-h2);
}

/* Стили бордера */
.border-dynamic {
  border: 1px solid var(--color-border);
  transition: border-color 0.3s ease-in-out; /* Плавный переход */
}
.light-theme {
  --switch-bg: #2a2a2a;
  --switch-checked-bg: #00a6ff;
}

.dark {
  --switch-bg: #3a3a3a;
  --switch-checked-bg: #0088cc;
}

.slider {
  background-color: var(--switch-bg);
}

.switch input:checked + .slider {
  background-color: var(--switch-checked-bg);
}

body {
  transition: background-color 1s ease, color 1s ease;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}
